.indexIntro{
    background: url(../img/foto_inicio.png) no-repeat center;
    background-size: cover;
    height: 80vh; 
    width: 100%;
    
}

.intro-info{
    position: relative;
    width: 50vw;
    top: 50%;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

.indexSerentis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexSerentis > *{
    margin:5%;
}

.indexSerentis img{
    width: 30%;
    border-radius: 10%;
}




h1{
    font-size: 4rem;
    font-family: Poppins;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 1vh;
}



