h1{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 1vh;
}

/*INTRODUCCION*/

.indexIntro{
    background: url(../img/index/index-900.webp) no-repeat center; /*era la dimension mas grande de la imagen*/
    background-size: cover;
    height: 80vh; 
    width: 100%;
    
}

.intro-info{
    position: relative;
    top: 50%;
    margin-left: 5%;
    
}

.intro-info > *{
    margin: 10px;
}

/* SERENTIS */
.indexSerentis {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.indexSerentis img {
    width: 30%;
    border-radius: 10%;
}

#indexSerentis-text {
    width: 60%;
    
}

#indexSerentis-text p{
    margin-bottom:5%;
    
}

/*OPINIONES*/
#opiniones-seccion{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

#opiniones-seccion:first-child{
    margin-bottom: 3.5rem;
}

.opinion{
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #C5C1BE;
    box-shadow: 0px 0px 10px 0px #C5C1BE;
    border-radius: 10rem;
    padding: 1.5rem;
    margin: 30px;
}

.opinion-img{
    width: 80%;
    border-radius: 50%;
    align-self: center;
}

.opinion-text{
    text-align: left;
    padding: 30px;
}

/*REDES SOCIALES*/
#rrss-title-group {
    display: flex; /* Usamos flexbox para alinear los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */
}

.rrss-icons {
    display: flex;
    gap: 20px; /* Espacio entre los íconos */
}

.rrss-icons img {
    width: 50px;
}

.rrss-carousel-container {
    position: relative;
    overflow: hidden;
}

.rrss-carousel {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
    
}

.rrss-slide {
    flex: 0 0 auto;
    margin-right: 0; /* Elimina el margen entre las diapositivas */
    
}

.rrss-slide img{
    width: 400px;
}

/*CARRUSEL DE REDES*/
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff; /* Cambia el color si es necesario */
    text-shadow: #C5C1BE;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/*PARTNERS*/
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 30px;
}

.partners img{
    width: 70%;
    margin: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 767px) {
    .opinion{
        display: flex;
        flex-flow: column;
        border-radius: 50rem;
    
    }    

    .opinion p,h4{
        text-align: center;
    }

    .partners {
        grid-template-columns: 1fr;
        
    }

    .partners img {
        width: 20%; /* Ajusta el ancho de las imágenes según sea necesario */
        padding: 20px;
    }

    .indexSerentis{
        flex-flow: column;
        align-items: center;
    }

    .indexSerentis img{
        width: 50%;
        margin: 60px;
    }
    
}


/*no se si esta bien pero tuve que hacerlo en el css porque tenia la imagen como background*/

@media (max-width: 900px) {
    .indexIntro {
        background-image: url(../img/index/index-600.webp);
    }
}

@media (max-width: 400px) {
    .indexIntro {
        background-image: url(../img/index/index-300.webp); 
    }
}




