/* Fuentes */


/* Paleta de colores */
/* #3295A6 AZUL */
.blue{
    color: #3295A6;
}
/* #9CCBD3 AZUL CLARO */
.light-blue{
    color: #9CCBD3;
}
/* #635B52 MARRON */
.brown{
    color: #635B52;
}
/* #C5C1BE GRIS */
.grey{
    color: #C5C1BE;
}
/* #FEFDFB BLANCO */
.white{
    color: #FEFDFB;
}
/* #292929 NEGRO */
.black{
    color: #292929;
}

/* Estilos Generales */
body {
    background-color: #FEFDFB;
    font-family: Montserrat;
    font-weight: 100;
    
    width: 100vw;
    margin: 0;
    padding: 0;
}

#contenido{
    margin: 10%;
    font-size: 1.3em;
    text-align: justify;
}

#contenido >*{
    margin-bottom: 10rem;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 1vh;
}

h2{
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 2.1rem;

}

/*BARRA DE NAVEGACION*/
.nav-logo {
    width: 150px;
    height: auto;
    margin: 0 2%;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:end;
}



.nav-links a {
    text-decoration: none;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1rem;
    color: #292929;
    transition: all 0.3s ease 0s;
    padding: 0 10px;
    margin: 15px;

}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

/*FOOTER*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #FEFDFB;
}

.footer-logos img{
    width: 100px; /* Ajusta el tamaño de los iconos según sea necesario */
}

.footer-social img{
    width: 50px;
}


.footer-social a:not(:last-child) {
    margin-right: 10px; /* Espacio entre los iconos sociales */
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    
}

.footer-elements > div {
    flex: 1;
    margin-right: 10px;
}

.footer-elements h3 {
    margin-bottom: 10px;
}

.footer-elements ul {
    list-style: none;
    padding: 0;
}

.footer-elements a {
    color: #fff;
    text-decoration: none;
}

/* */
.blue-button,
.white-noFill-button,
.blue-noFill-button{
    font-weight: 600;
    border-radius: 1em;
    height: 40px;
    line-height: 40px;
    padding: 10px;
}

.blue-button {
    color: #FEFDFB !important;
    background-color: #3295A6;
}

.white-noFill-button{
    color:#FEFDFB;
    border: 2px #FEFDFB solid;
}

.blue-noFill-button{
    color:#3295A6;
    border: 2px #3295A6 solid;
}

.circle{
    border-radius: 50%;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}


.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
    }
    
    .nav-links.visible {
        display: block;
        width: 40vw;
        position: fixed;
        background-color: #fefdfbae; /* RGBA con 50% de opacidad */
        z-index: 1;
        top: 0;
        right: 0;
        height: 100vw;
    }

    .abrir-menu {
        display: block; /* Aparece en dispositivos móviles */
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }
}




