@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&family=Poppins:wght@100;300;400;500;600&display=swap');


/* COLORES */

/* #3295A6 AZUL */
.blue{
    color: #3295A6;
}
/* #9CCBD3 AZUL CLARO */
.light-blue{
    color: #9CCBD3;
}
/* #635B52 MARRON */
.brown{
    color: #635B52;
}
/* #C5C1BE GRIS */
.grey{
    color: #C5C1BE;
}
/* #FEFDFB BLANCO */
.white{
    color: #FEFDFB;
}
/* #292929 NEGRO */
.black{
    color: #292929;
}

/* ESTILOS GENERALES */
body {
    background-color: #FEFDFB;
    font-family: Montserrat;
    font-weight: 100;
    
    width: 100vw;
    margin: 0;
    padding: 0;
}

#contenido{
    margin: 10%;
    font-size: 1.3em;
    text-align: justify;
}

#contenido >*{
    margin-bottom: 10rem;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 1vh;
}

h2{
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
}


/* BOTONES */
.blue-button,
.white-noFill-button,
.blue-noFill-button{
    font-weight: 600;
    border-radius: 1em;
    height: 40px;
    padding: 10px;
}

.blue-button {
    color: #FEFDFB !important;
    background-color: #3295A6;
}

.blue-button:hover {
    background-color: #7e736f;
    color: #FEFDFB !important;
    transition:cubic-bezier(0.645, 0.045, 0.355, 1)
}

.white-noFill-button{
    color:#FEFDFB;
    border: 2px #FEFDFB solid;
}

.blue-noFill-button{
    color:#3295A6;
    border: 2px #3295A6 solid;
}

/*TEXTO*/
.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}


.bold{
    font-weight: 600;
}







